
		
		<!-- Home -->
		<div id="home" class="hero-area">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url(./img/peru-police.png)"></div>
			<!-- /Backgound Image -->

			<div class="home-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h1 class="white-text"> <br> Academia Latino Pre Policial</h1>
							<p class="lead white-text">Comprometidos con brindar educación de calidad que garantice el ingreso
								a la Policia Nacional del Perú.</p>
							<!--a class="main-button icon-button" href="#/about">Comenzar!</a-->
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /Home -->

		<!-- About -->
		<div id="about" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-6">
						<div class="section-header">
							<h2>ACADEMIA LATINO PRE POLICIAL</h2>
							<p class="lead"></p>
						</div>

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-question-circle"></i>
							<div class="feature-content">
								<h4>¿QUIENES SOMOS? </h4>
								<p>Somos una institución que prepara, capacita, orienta y entrena adecuadamente
                                    a todos los alumnos que desean ingresar con éxito a las Fuerzas Armadas
                                    y Policía Nacional del Perú, que día a día da lo mejor de sí, para llegar
                                    a ser una Institución líder, consolidada como la mejor academia Pre Policial
                                    a nivel Regional.
								</p>
							</div>
						</div>

                        <div class="feature">
							<i class="feature-icon fa fa-handshake-o"></i>
							<div class="feature-content">
								<h4>NUESTRA OCUPACIÓN : </h4>
								<p>Brindamos una preparación a los futuros cadetes de manera integral: Académica,
                                    física, moral y psicológica para que enfrente con éxito las diferentes pruebas
                                    en el proceso de admisión, como también fomentamos la cultura, la ética, y la
                                    práctica sana del deporte en la juventud, para una buena formación de 
                                    ciudadanos comprometidos con el desarrollo en su comunidad y País.
								</p>
							</div>
						</div>
						

				

					</div>

					<div class="col-md-6">
						<div class="about-img">
							<img src="./img/about_us.png" alt="">
						</div>
					</div>

				</div>
				<!-- row -->

			</div>
			<!-- container -->
		</div>
		<!-- /About -->

	
		<!-- Call To Action -->
		
		<!-- /Why us -->

		<!-- Contact CTA -->
		<div id="contact-cta" class="section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url(./img/fondo-logros.jpg)"></div>
			<!-- Backgound Image -->

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-8 col-md-offset-2 text-center">
						<h2 class="white-text">VISITANTE</h2>
						<p class="lead white-text">¿Quieres vivir la mejor experiencia en formación pre militar? ¿Qué esperas?</p>
						<a class="main-button icon-button" href="/contact">Contactanos</a>
					</div>

				</div>
				<!-- /row -->

			</div>
			<!-- /container -->

		</div>
		<!-- /Contact CTA -->

		<!-- Footer -->
		
		<!-- /Footer -->

		<!-- preloader -->
		<div id='preloader'><div class='preloader'></div></div>
		<!-- /preloader -->


		<!-- jQuery Plugins -->
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
