
		
		<!-- Home -->
		<div id="home" class="hero-area">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url(./img/hero.jpg)"></div>
			<!-- /Backgound Image -->

			<div class="home-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h1 class="white-text">Somos <br> Academia Latino Pre Policial</h1>
							<p class="lead white-text">Comprometidos con brindar educación de calidad que garantice el ingreso
								a la Policia Nacional del Perú.</p>
							<!--a class="main-button icon-button" href="#/about">Comenzar!</a-->
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /Home -->

		<!-- About -->
		<div id="about" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-6">
						<div class="section-header">
							<h2>ACADEMIA LATINO PRE POLICIAL</h2>
							<p class="lead">Cuenta con inquebrantables Principios.</p>
						</div>

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-graduation-cap"></i>
							<div class="feature-content">
								<h4>Excelente en el servicio educativo </h4>
								<p>Nos exigimos mucho en ofrecer un buen material educativo y sacar el máximo provecho a las capacidades
									físicas de los estudiantes.
								</p>
							</div>
						</div>
						<!-- /feature -->

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-users"></i>
							<div class="feature-content">
								<h4>Integridad Moral</h4>
								<p>Nuestra plana docente, administrativa y personal de servicio es seleccionado de manera rigurosa,
									 debiendo pasar por pruebas y entrevistas antes de ser admitida en nuestra institución.</p>
							</div>
						</div>
						<!-- /feature -->

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-comments"></i>
							<div class="feature-content">
								<h4>Excelente Clima Organizacional</h4>
								<p>La armonía, cordialidad, respeto y el trato humano son las cualidades que caracterizan las relaciones
									 humanas dentro de nuestra institución.
									</p>
							</div>
						</div>
						<!-- /feature -->

					</div>

					<div class="col-md-6">
						<div class="about-img">
							<img src="./img/about.png" alt="">
						</div>
					</div>

				</div>
				<!-- row -->

			</div>
			<!-- container -->
		</div>
		<!-- /About -->

	
		<!-- Call To Action -->
		<div id="cta" class="section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url(./img/cta1-background.jpg)"></div>
			<!-- /Backgound Image -->

			<!-- container -->
			<div class="container" style="height: 200px;">

				
			</div>
			<!-- /container -->

		</div>
		<!-- /Call To Action -->

		<!-- Why us -->
		<div id="why-us" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">
					<div class="section-header text-center">
						<h2>VALORES</h2>
						<p class="lead">Diariamente fomentamos los siguientes valores en nuestros estudiantes.</p>
					</div>

					<!-- feature -->
					<div class="col-md-4">
						<div class="feature">
							<i class="feature-icon fa fa-gavel"></i>
							<div class="feature-content">
								<h4>Disciplina</h4>
								<p>La disciplina es un valor muy importante dentro de nuestra institución lo cual
									 es exigido con energía pero con mucho respeto hacia los alumnos.</p>
							</div>
						</div>
					</div>
					<!-- /feature -->

					<!-- feature -->
					<div class="col-md-4">
						<div class="feature">
							<i class="feature-icon fa fa-hourglass-half"></i>
							<div class="feature-content">
								<h4>Puntualidad</h4>
								<p>Tanto alumnos docentes y personal de administración actúen puntualmente en sus obligaciones.
									 Con ello se gana en eficacia, calidad y los objetivos trazados se cumplen.</p>
							</div>
						</div>
					</div>
					<!-- /feature -->

					<!-- feature -->
					<div class="col-md-4">
						<div class="feature">
							<i class="feature-icon fa fa-forward"></i>
							<div class="feature-content">
								<h4>Perseverancia</h4>
								<p>Nos exigimos en ser perseverantes, en conseguir nuestras metas. 
									Cada día se es perseverante para poder subir peldaño a peldaño esa cuesta que nos llevará al éxito.</p>
							</div>
						</div>
					</div>
					<!-- /feature -->

				</div>
				<!-- /row -->

				<hr class="section-hr">

				<!-- row -->
				<div class="row">

					<div class="col-md-6">
						<h3>NUESTRO TRABAJO</h3>
						<p class="lead">LUEGO DE UN DURO ENTRENAMIENTO.</p>
						<p>Luego de un duro entrenamiento físico, los profesores piden a los estudiantes las siguientes tareas.</p>
					</div>

					<div class="col-md-5 col-md-offset-1">
						
							<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JRvaDyMnMeg" allowfullscreen></iframe>
							 </div>
					
					</div>

				</div>
				<!-- /row -->

			</div>
			<!-- /container -->

		</div>
		<!-- /Why us -->

		<!-- Contact CTA -->
		<div id="contact-cta" class="section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url(./img/fondo-logros.jpg)"></div>
			<!-- Backgound Image -->

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-8 col-md-offset-2 text-center">
						<h2 class="white-text">VISITANTE</h2>
						<p class="lead white-text">¿Quieres vivir la mejor experiencia en formación pre militar? ¿Qué esperas?</p>
						<a class="main-button icon-button" href="/contact">Contactanos</a>
					</div>

				</div>
				<!-- /row -->

			</div>
			<!-- /container -->

		</div>
		<!-- /Contact CTA -->

		<!-- Footer -->
		
		<!-- /Footer -->

		<!-- preloader -->
		<div id='preloader'><div class='preloader'></div></div>
		<!-- /preloader -->


		<!-- jQuery Plugins -->
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
