<div class="container">

    <div class="">

        <form class="form-horizontal m-5" role="form" action="/profile/account/pass" method="POST">
            <h3>Cambiar Contrase単a</h3>
            <div class="form-group mt-5">
                <label class="col-md-3 control-label">Contrase単a:</label>
                <div class="col-md-8">
                    <input class="form-control" id="password" name="newpass" type="password" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Confirmar contrase単a:</label>
                <div class="col-md-8">
                    <input class="form-control" id="password2" type="password" value="">
                </div>
            </div>
            <div class="form-group mt-5">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    <input type="submit" class="btn btn-primary" value="Guadar Cambios">
                    <span></span>
                    <input type="reset" class="btn btn-default" value="Cancel">
                </div>
        </form>
    </div>

</div>
<script>
    var password, password2;

    password = document.getElementById('password');
    password2 = document.getElementById('password2');

    password.onchange = password2.onkeyup = passwordMatch;

    function passwordMatch() {
        if (password.value !== password2.value)
            password2.setCustomValidity('Las contrase単as no coinciden.');
        else
            password2.setCustomValidity('');
    }

</script>