<div class="row">
    <div class="container" style="margin-top: 50px; margin-left:35%;">
        <div class="col-md-6">
            <form>
                <article class="card">
                    <div class="card-body p-5">
                        <h1 style="text-align: center;">MÉTODO DE PAGO</h1>
                        <br>
                        <p style="text-align: center;"> <img src="/img/payment/visa.png">
                            <img src="/img/payment/mc.png">
                            <img src="/img/payment/diners.png">
                            <img src="/img/payment/amex.png"> </p>
                        <br>
                        <br>
                        <div class="form-group">
                            <div class="form-row" style="align:right;">
                                <div class="col-md-9">
                                    <label for="text-input" class=" form-control-label">Monto:</label>
                                </div>
                                <div class="col-md-1">
                                    <span>S/.</span>
                                </div>
                                <div class="col">
                                    <span>{{monto.ammount}}</span>
                                </div>
                            </div>
                            <div class="form-group mt-5">
                                <div class="form-row" style="align:right;">
                                    <div class="col-md-10   ">
                                        <label for="text-input" class=" form-control-label">Cuotas:</label>
                                    </div>
                                    <div class="col-md-1">
                                        <select id="quota" class="selectpicker">
                                            <option selected="selected">1</option>
                                            <option>2</option>

                                        </select>

                                    </div>
                                    <button style="margin-top:20px;" id="pagar" class="subscribe btn btn-warning btn-block"
                                        type="button">
                                        PAGAR POR PAYPAL
                                    </button>
                                    <button id="pagarsede" class="subscribe btn btn-primary btn-block" type="button">
                                        PAGAR EN SEDE
                                    </button>

                                </div>

                            </div>
                        </div>
                </article>
            </form>

        </div>

    </div>

</div>
</div>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>

    var str = "";
    $("select").change(function () {
        $("select option:selected").each(function () {
            str = $(this).text();
        });
    })
        .change();
    $(document).on("ready", function () {

        $("#pagar").on("click", function () {
            $.post("/profile/checkout/payment.json", {
                "amount": {{ monto.ammount }},
            "quota": str
            }).success(function (res) {
                window.location.href = res["object"].url;
            }).error(function () {

            });
        })    
    });

    $(document).on("ready", function () {

        $("#pagarsede").on("click", function () {
            $.post("/profile/checkout/sedesuccess.json", {
                "amount": {{ monto.ammount }},
                "quota": str
            }).success(function (res) {
                window.location.href = res["object"].url;
            }).error(function () {

            });
        })    
    });

</script>