<div class="container" style="margin-top: 50px">
	<tr>
		<td align="center">
			<table width="100%">

				<tbody>
					<tr>
						<td style="width: 16%;" valign="top">
							<div>
								<table cellspacing="0" cellpadding="3" rules="rows" border="1" style="background-color:White;border-color:#E7E7FF;border-width:1px;border-style:Ridge;font-size:Small;width:138px;border-collapse:collapse;margin-left: 0px">
									<tbody>
										<tr class="tableHeader" style="color:White;background-color:#000000;">
											<th scope="col">Hora</th>
											<th scope="col">Lunes</th>
										</tr>
										<tr class="tableItem" style="background-color:White;">
											<td align="center" valign="middle" style="color:Red;font-size:X-Small;"> 7:30AM 2:00PM</td>
											<td style="color:#673C8C;font-size:X-Small;">ESTUDIO</td>
										</tr>
										<tr class="tableItem" style="background-color:#F7F7F7;">
											<td align="center" valign="middle" style="color:Red;font-size:X-Small;"> 4:00PM 7:30PM</td>
											<td style="color:#673C8C;font-size:X-Small;">EJERCICIO AL AIRE LIBRE</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>

						<td style="width: 16%;" valign="top">
							<div>
								<table cellspacing="0" cellpadding="3" rules="rows" border="1" style="background-color:White;border-color:#E7E7FF;border-width:1px;border-style:Ridge;font-size:Small;width:138px;border-collapse:collapse;margin-left: 0px">
									<tbody>
										<tr class="tableHeader" style="color:White;background-color:#000000;">
											<th scope="col">Hora</th>
											<th scope="col">Martes</th>
										</tr>
										<tr class="tableItem" style="background-color:White;">
											<td align="center" valign="middle" style="color:Red;font-size:X-Small;"> 7:30AM 2:00PM</td>
											<td style="color:#673C8C;font-size:X-Small;">ESTUDIO</td>
										</tr>
										<tr class="tableItem" style="background-color:#F7F7F7;">
											<td align="center" valign="middle" style="color:Red;font-size:X-Small;"> 4:00PM 7:30PM</td>
											<td style="color:#673C8C;font-size:X-Small;">EJERCICIO AL AIRE LIBRE</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
						<td style="width: 16%;" valign="top">
							<div>
								<table cellspacing="0" cellpadding="3" rules="rows" border="1" style="background-color:White;border-color:#E7E7FF;border-width:1px;border-style:Ridge;font-size:Small;width:138px;border-collapse:collapse;margin-left: 0px">
									<tbody>
										<tr class="tableHeader" style="color:White;background-color:#000000;">
											<th scope="col">Hora</th>
											<th scope="col">Miercoles</th>
										</tr>
										<tr class="tableItem" style="background-color:White;">
											<td align="center" valign="middle" style="color:Red;font-size:X-Small;"> 7:30AM 2:00PM</td>
											<td style="color:#673C8C;font-size:X-Small;">ESTUDIO</td>
										</tr>
										<tr class="tableItem" style="background-color:#F7F7F7;">
											<td align="center" valign="middle" style="color:Red;font-size:X-Small;"> 4:00PM 7:30PM</td>
											<td style="color:#673C8C;font-size:X-Small;">EJERCICIO AL AIRE LIBRE</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
						<td style="width: 16%;" valign="top">
							<div>
								<table cellspacing="0" cellpadding="3" rules="rows" border="1" style="background-color:White;border-color:#E7E7FF;border-width:1px;border-style:Ridge;font-size:Small;width:138px;border-collapse:collapse;margin-left: 0px">
									<tbody>
										<tr class="tableHeader" style="color:White;background-color:#000000;">
											<th scope="col">Hora</th>
											<th scope="col">Jueves</th>
										</tr>
										<tr class="tableItem" style="background-color:White;">
											<td align="center" valign="middle" style="color:Red;font-size:X-Small;"> 7:30AM 2:00PM</td>
											<td style="color:#673C8C;font-size:X-Small;">ESTUDIO</td>
										</tr>
										<tr class="tableItem" style="background-color:#F7F7F7;">
											<td align="center" valign="middle" style="color:Red;font-size:X-Small;"> 4:00PM 7:30PM</td>
											<td style="color:#673C8C;font-size:X-Small;">EJERCICIO AL AIRE LIBRE</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
						<td style="width: 16%;" valign="top">
							<div>
								<table cellspacing="0" cellpadding="3" rules="rows" border="1" style="background-color:White;border-color:#E7E7FF;border-width:1px;border-style:Ridge;font-size:Small;width:138px;border-collapse:collapse;margin-left: 0px">
									<tbody>
										<tr class="tableHeader" style="color:White;background-color:#000000;">
											<th scope="col">Hora</th>
											<th scope="col">Viernes</th>
										</tr>
										<tr class="tableItem" style="background-color:White;">
											<td align="center" valign="middle" style="color:Red;font-size:X-Small;"> 7:30AM 2:00PM</td>
											<td style="color:#673C8C;font-size:X-Small;">ESTUDIO</td>
										</tr>
										<tr class="tableItem" style="background-color:#F7F7F7;">
											<td align="center" valign="middle" style="color:Red;font-size:X-Small;"> 4:00PM 7:30PM</td>
											<td style="color:#673C8C;font-size:X-Small;">EJERCICIO AL AIRE LIBRE</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
						<td style="width: 16%;" valign="top">
							<div>
								<table cellspacing="0" cellpadding="3" rules="rows" border="1" style="background-color:White;border-color:#E7E7FF;border-width:1px;border-style:Ridge;font-size:Small;width:138px;border-collapse:collapse;margin-left: 0px">
									<tbody>
										<tr class="tableHeader" style="color:White;background-color:#000000;">
											<th scope="col">Hora</th>
											<th scope="col">Sabado</th>
										</tr>
										<tr class="tableItem" style="background-color:White;">
											<td align="center" valign="middle" style="color:Red;font-size:X-Small;"> 7:30AM 2:00PM</td>
											<td style="color:#673C8C;font-size:X-Small;">ESTUDIO</td>
										</tr>
										<tr class="tableItem" style="background-color:#F7F7F7;">
											<td align="center" valign="middle" style="color:Red;font-size:X-Small;"> 4:00PM 7:30PM</td>
											<td style="color:#673C8C;font-size:X-Small;">EJERCICIO AL AIRE LIBRE</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>

						
							<div>

							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
</div>