<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{>headmain}}
</head>
<body>
{{>navigation}} 
{{{body}}}

<!--script src="/js/jquery.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/animsition.js"></script-->
    <script src="/js/jquery.min.js"></script>
  
    <script src="/animsition/animsition.min.js"></script>
  
    <script src="/js/main.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
{{>footer}}
</html>
